<div class="waldo">
  <div class="waldo__fulltext">
    <span class="waldo__filter-icon waldo__action-filter"></span>
    <%= form_tag request.url, method: :GET, class: 'waldo__form' do %>
      <%= text_field_tag :q, params[:q], class: "waldo__q", data: {
          fulltext: fulltext_scope.value.to_s
      } %>
    <% end %>
  </div>

  <div class="waldo__advanced-search">
    <% scopes.each do |s| %>
      <% if s.bool? %>
        <div class="waldo__field--checkbox">
          <div class="waldo__field-input">
            <%= check_box_tag s.name, s.criteria, s.value, class: "waldo__input" %>
          </div>
          <div class="waldo__field-label">
            <%= s.label %>
          </div>
        </div>
      <% else %>
        <div class="waldo__field">
          <div class="waldo__field-label">
            <%= s.label %>
          </div>
          <div class="waldo__field-input">
            <%= text_field_tag s.name, s.value, class: "waldo__input" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <button class="waldo__submit"><%= I18n.t('waldo.submit') %></button>
  </div>
</div>
